@import url("https://necolas.github.io/normalize.css/8.0.0/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");

html {
  box-sizing: content-box;
}

body {
  padding: 20px;
}

article.loan {
  cursor: pointer;
  width: 90%;
  margin: 0 auto 20px auto;
  background-color: #DDDDDD;
  padding: 10px;
}

article.loan p { margin: 0; }

article.loan button {
  float: right;
  margin-top: -30px;
  pointer-events: none;
}

.overlay {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}
.overlay.open { display: block; }
.overlay.close { display: none; }

form.popup {
  width: 90%;
  margin: 20px auto;
  background-color: #DDDDDD;
  padding: 10px;
}

form.popup label { display: block; }

form.popup input {
  display: block;
  margin: 10px 0;
  padding: 4px;
  text-align: right;
}

form.button {
  cursor: pointer;
}
